{% extends "account/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                <h1>{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {% bootstrap_form form layout='floating' %}
                    <p class="text-center">
                        {% bootstrap_button button_type="submit" content="Set Password" %}
                    </p>
                </form>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
{% endblock %}
